.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.container{
background:#1e293b;
width: 80%;
height: 20rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
@media screen and (min-width:800px){
  
  .container{
    width: 50%;
  }
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 3rem;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 1rem;
  max-width: 5rem;
  outline: none;
  border: 2px solid transparent;
  color: #fff;
  font-weight: bold;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #475569;
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 2rem;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid #334155;
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: '';
  background-color: rgba(112, 76, 182, 0.5);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}
